<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
</head>

<body>
	<!--The first vision>
	<!-- <h1>welcome {{username}} !</h1> -->
	<!--codes below is new part -->
	<p>您有超期欠费未还图书,不可继续借阅,请缴费还书后再借阅</p>
	<a href="http://127.0.0.1:8000/BookManage/entermainpage/">点击由此进入图书馆主页</a>


<br>
<a href="http://127.0.0.1:8000/BookManage/logout/">退出</a>
</body>
</html>